<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{{page.title}} &dash; {{site.title}}</title>
    <link rel="stylesheet" type="text/css" charset="utf-8" href="/css/normalize.css" />
    <link rel="stylesheet" type="text/css" charset="utf-8" href="/css/skeleton.css" />
    <link rel="stylesheet" type="text/css" charset="utf-8" href="/css/custom.css" />
  </head>
  <body class="page">
    <div class="page__top">
      <header role="banner" class="header">
        <h1 class="header__title"><a href="{{site.url}}">{{site.title}}</a></h1>
      </header>
    </div>
