<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{{page.title}} &dash; {{site.title}}</title>
  </head>
  <body>
    <div class="page">
      <header role="banner" clas="page__header">
        <a href="{{site.url}}">{{site.title}}</a>
      </header>
